body {
    font-family: Arial;
    text-align: center;
    background: #f4f7fa;
}

.form-container {
    margin-top: 30px;
}

input {
    margin: 10px;
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
